# This workflow should be triggered when semantic-release
# cretes a new tag in the repository.
# A PAT repository secret, SEM_REL_TOKEN, is used to allow
# a new workflow to be triggered. In theory....

name: post-release

on:
  push:
    tags:
      - v*.*.*

# Only allow one release workflow to execute at a time, since each release
# workflow uses shared resources (git tags, package registries)
concurrency:
  group: ${{ github.workflow }}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    name: Pretend To Publish Images
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: checkout
        run: |
          git rev-parse --short HEAD
          git pull 
          git rev-parse --short HEAD

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          context: workflow
          flavor: latest=true
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}

      - name: Show image metadata
        run: |
          git rev-parse --short HEAD
          echo "tags: ${{ steps.meta.outputs.tags }}"
          echo "labels: ${{ steps.meta.outputs.labels }}"
