name: release

on:
  push:
    branches:
      - main

# Only allow one release workflow to execute at a time, since each release
# workflow uses shared resources (git tags, package registries)
concurrency:
  group: ${{ github.workflow }}

jobs:
  get-next-version:
    uses: semantic-release-action/next-release-version/.github/workflows/next-release-version.yml@v4

  release:
    runs-on: ubuntu-latest
    name: Release
    if: needs.get-next-version.outputs.new-release-published == 'true'
    needs:
      - get-next-version
    steps:
      - uses: actions/checkout@v4
        env:
          GITHUB_TOKEN: ${{ secrets.SEM_REL_TOKEN }}
        with:
          fetch-depth: 0

      - name: event status
        run: |
          echo "event name is:" ${{ github.event_name }} 
          echo "event type is:" ${{ github.event.action }}

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.SEM_REL_TOKEN }}
          GH_TOKEN: ${{ secrets.SEM_REL_TOKEN }}
          GITHUB_USER: ${{ github.repository_owner }}
          GIT_AUTHOR_NAME: ${{ github.actor }}
          GIT_AUTHOR_EMAIL: "auth-no-reply@bassco.co.za"
          GIT_COMMITER_NAME: ${{ github.repository_owner }}
          GIT_COMMITER_EMAIL: "committer-no-reply@bassco.co.za"

        with:
          semantic_version: 22.0.8
          dry_run: false
          extra_plugins: |
            @commitlint/config-conventional@18.4.3
            @semantic-release/changelog@v6.0.3
            @semantic-release/commit-analyzer@11.1.0
            @semantic-release/git@10.0.1
            @semantic-release/github@9.2.3
            @semantic-release/release-notes-generator@12.1.0
            semantic-release-major-tag@0.3.2
